In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.Series(range(1000))/10

0       0.0
1       0.1
2       0.2
3       0.3
4       0.4
       ...
995    99.5
996    99.6
997    99.7
998    99.8
999    99.9
Length: 1000, dtype: float64

In [6]:
test_data = pd.DataFrame({'time' : pd.Series(range(1000))/10, 
                            'measurement' : np.sin(2 * np.pi * pd.Series(range(1000))/10/1)})

In [7]:
test_data.head(11)

    time   measurement
0    0.0  0.000000e+00
1    0.1  5.877853e-01
2    0.2  9.510565e-01
3    0.3  9.510565e-01
4    0.4  5.877853e-01
5    0.5  1.224647e-16
6    0.6 -5.877853e-01
7    0.7 -9.510565e-01
8    0.8 -9.510565e-01
9    0.9 -5.877853e-01
10   1.0 -2.449294e-16

### Reading Dataframes and Manipulating the Index

In [9]:
dog_food_orders = pd.read_csv('../../data/pandas_workshop/unit2/dog_food_orders.csv')
cat_food_orders = pd.read_csv('../../data/pandas_workshop/unit2/cat_food_orders.csv')
print(dog_food_orders.head(4))
print(cat_food_orders.head(4))

                  product  wholesale_price   msrp  qty_ordered  qty_shipped
0           skippys_dream             8.99  18.38          100          100
1           just_the_beef             4.99  10.43          200          195
2        potatos_and_lamb             5.19  11.43           50           50
3  turkey_and_cranberries             5.98  12.00           50           50
          product  wholesale_price   msrp  qty_ordered  qty_shipped
0     cat_delight             4.95   9.98           50            0
1   tuna_surprise             7.17  15.27          100          100
2  hint_of_catnip             3.99   8.23           25           25
3   roast_chicken             5.57  12.08           30           30

In [10]:
dog_food_orders['animal'] = 'dog'
cat_food_orders['animal'] = 'cat'

In [13]:
orders = pd.concat([dog_food_orders, cat_food_orders], axis=0)
orders.shape

(10, 6)

In [14]:
orders.set_index('animal', inplace=True)

In [15]:
orders['net_due'] = (orders['wholesale_price'] * orders['qty_shipped']) 
print('cat food orders due: ', orders.loc['cat', 'net_due'].sum(), 
        '\ndog food orders due: ', orders.loc['dog', 'net_due'].sum())

cat food orders due:  1158.75
dog food orders due:  2574.4