# Pandas Workshop 2

### Data Structures

In [2]:
import pandas as pd

data1 = pd.read_csv('../../data/pandas_workshop/unit2/US_GDP.csv')

In [3]:
sample_df_construction = pd.DataFrame({'col1' : range(0, 100), 'col2' : range(1, 200, 2)})

In [4]:
type(sample_df_construction)

pandas.core.frame.DataFrame

In [5]:
?pd.DataFrame

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3
File:           c:\programdata\miniconda3\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [6]:
import numpy as np
sample_np_array_1 = np.array(range(0, 100)) 
sample_np_array_2 = np.array(range(1, 200, 2))

In [7]:
sample_np_2D = np.column_stack((sample_np_array_1,sample_np_array_2))
print(sample_np_2D[0:5])

[[0 1]
 [1 3]
 [2 5]
 [3 7]
 [4 9]]

In [8]:
sample_df_from_np = pd.DataFrame(sample_np_2D, columns = ['col1', 'col2']) 
print(sample_df_from_np.head())

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9

In [9]:
# List Comprehension 
list_1 = [i for i in range(100)] 
list_2 = [i for i in range(1, 200, 2)] 
print(list_1, list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [10]:
# Zip two list in to a DF 
sample_df_from_iterable = pd.DataFrame(zip(list_1, list_2), columns = ['col1','col2'])

In [11]:
# Dictonaries 
sample_df_from_lists = pd.DataFrame({'col1' : list_1, 'col2' : list_2})
print(sample_df_from_lists.head()) 
print(sample_df_from_lists.tail())

   col1  col2
0     0     1
1     1     3
2     2     5
3     3     7
4     4     9
    col1  col2
95    95   191
96    96   193
97    97   195
98    98   197
99    99   199

In [13]:
empty_data = pd.DataFrame() 
empty_data.shape

(0, 0)

In [12]:
my_array = np.array([[0, 1, 2, 3, 4], [2, 3, 4, 5, 6]])

In [15]:
filled_dataframe=pd.concat([empty_data,pd.DataFrame(my_array)],axis=0) 
filled_dataframe

   0  1  2  3  4
0  0  1  2  3  4
1  2  3  4  5  6

#### Index and Columns

In [23]:
sample_df_from_lists.index

RangeIndex(start=0, stop=100, step=1)

In [24]:
letters = pd.Series(map(chr, range(97, 122)))

In [25]:
letters = pd.DataFrame({'letter' :
(list(letters) + list(letters * 2) + list(letters * 3) + list(letters*4))})

DataFrames, the general notation is some_dataframe. iloc[rows, columns] if using all integers, or logical (Boolean) expressions, 

and some_dataframe.loc[rows, columns] if using labels.

In [31]:
letters.iloc[:, 0]
# All rows and first column

0        a
1        b
2        c
3        d
4        e
      ...
95    uuuu
96    vvvv
97    wwww
98    xxxx
99    yyyy
Name: letter, Length: 100, dtype: object

In [32]:
# Set index of the DF 
sample_df_from_lists.set_index(keys = letters.iloc[:, 0], inplace = True)
print(sample_df_from_lists.index)

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'aa', 'bb', 'cc',
       'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk', 'll', 'mm', 'nn', 'oo',
       'pp', 'qq', 'rr', 'ss', 'tt', 'uu', 'vv', 'ww', 'xx', 'yy', 'aaa',
       'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg', 'hhh', 'iii', 'jjj', 'kkk',
       'lll', 'mmm', 'nnn', 'ooo', 'ppp', 'qqq', 'rrr', 'sss', 'ttt', 'uuu',
       'vvv', 'www', 'xxx', 'yyy', 'aaaa', 'bbbb', 'cccc', 'dddd', 'eeee',
       'ffff', 'gggg', 'hhhh', 'iiii', 'jjjj', 'kkkk', 'llll', 'mmmm', 'nnnn',
       'oooo', 'pppp', 'qqqq', 'rrrr', 'ssss', 'tttt', 'uuuu', 'vvvv', 'wwww',
       'xxxx', 'yyyy'],
      dtype='object', name='letter')

In [33]:
sample_df_from_lists.loc['uuuu':'yyyy', :]

        col1  col2
letter
uuuu      95   191
vvvv      96   193
wwww      97   195
xxxx      98   197
yyyy      99   199