In [1]:
import pandas as pd
import random

In [4]:
Store1 = pd.read_csv('data\Store1.csv')
Store1.head(10)

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106
5    Jan             27               136
6    Jan             74               116
7    Jan             63               142
8    Jan             65               129
9    Jan             12               138

In [5]:
Store2 = pd.read_csv('data\Store2.csv')
Store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

In [12]:
# Use double [[]] when calling more than one columns 
Store1[['Grocery_sales','Stationary_sales']].sum(axis=0)

Grocery_sales       2097
Stationary_sales    3985
dtype: int64

In [14]:
(Store1[['Grocery_sales','Stationary_sales']].sum(axis=0)).sum()

6082

In [15]:
(Store2[['Grocery_sales','Stationary_sales']].sum(axis=0)).sum()

5847

In [17]:
#highest sales for groceries 
print('Store 1 ', Store1[['Grocery_sales','Stationary_sales']].sum(axis=0))
print('Store 2 ', Store2[['Grocery_sales','Stationary_sales']].sum(axis=0))

Store 1  Grocery_sales       2097
Stationary_sales    3985
dtype: int64
Store 2  Grocery_sales       2696
Stationary_sales    3151
dtype: int64

In [13]:
Store1[['Grocery_sales','Stationary_sales']].sum(axis=1)

0      73
1     183
2     100
3      67
4     142
5     163
6     190
7     205
8     194
9     150
10    146
11    173
12    180
13     44
14    112
15     39
16    161
17     90
18    194
19    109
20    104
21    100
22    113
23    128
24     51
25    169
26    111
27    118
28     92
29    155
30    163
31     45
32     97
33    146
34     57
35    165
36    193
37    180
38     41
39    105
40     53
41     79
42    101
43    122
44    181
45     51
46     97
47     88
48    120
49    142
dtype: int64

In [37]:
#Filtering March in Months
mar_s1 = Store1[Store1['Months'].eq('Mar')]
mar_s2 = Store2[Store2['Months'].eq('Mar')]

print('Store1 March Sales :', (mar_s1[['Stationary_sales','Grocery_sales']].sum(axis=0)).sum())
print('Store2 March Sales :', (mar_s2[['Stationary_sales','Grocery_sales']].sum(axis=0)).sum())

Store1 March Sales : 2871
Store2 March Sales : 2378

In [51]:
len(Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'])])

C:\Users\siddh\AppData\Local\Temp\ipykernel_15924\2022680953.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(Store1[Store1['Stationary_sales'].gt(Store2['Stationary_sales'])])

35