# Pandas Introduction

In [1]:
import pandas as pd

In [2]:
# Creating a Series 
ser1 = pd.Series([10,20,30,40,50])

In [3]:
# Displaying Series
ser1
# Numbers on the left are indices

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
ser2 = pd.Series([[10, 20], 
                [30, 40.5,'series'],
                [50, 55],
                {'Name':'Tess','Org':'Packt'}])

ser2

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

In [6]:
## Data Frame Object 
df = pd.DataFrame([10,20,30,40,50,60])

df

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [7]:
df.shape

(6, 1)

In [8]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [9]:
df.index

RangeIndex(start=0, stop=6, step=1)